body
{
    padding: 0px;
    margin: 0;
    text-align: center;
    background: url("../Photos/Contact\ Us\ B.png") no-repeat;
    color: white;
}
.pad-left
{
    padding-left: 100px;
    padding-right: 100px;
}
.no-pad-left
{
    padding-left: 0px;
    padding-right: 0px;
}

/* Navigation Bar */
nav
{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    background-color: white;
    color: black;
}
#header-image
{
    text-align: initial;
}
#header-image img
{
    height: 100px;
}
#header-menu ul
{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
#header-menu ul li a
{
    color: black;
    text-decoration: none;
}
.dropbtn
{
    background-color: white;
    color: black;
    font-size: initial;
    border: none;
    cursor: pointer;
    font-family: initial;
}
.dropdown-content 
{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a
{
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-content
{
    display: block;
}
.dropdown-content a:hover
{
    background-color: #1B9DDB;
}

/* Contact Us Details */
#get-in-touch
{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 60px;
}
#contact-details
{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}